

    .product-payment {
      .subscription-ready {
        display: grid;
        grid-template-rows: repeat(6, auto);

        .subscription-message {
          margin-bottom: 5px;
        }

        h2 {
          color: #20123b;
          font-size: 24px;
          font-weight: 500;
        }

        p {
          color: #0c0c0d;
          font-size: 16px;
          margin: 20px 100px;
        }

        a {
          font-size: 16px;
        }

        .form-break-bottom {
          border: solid 1px #d5d4d5;
          height: 1px;
          margin-bottom: 24px;
          margin-left: -42px;
          margin-top: -16px;
          width: 115%;
        }

        .form-break-top {
          border: solid 1px #d5d4d5;
          height: 1px;
          margin-bottom: 1.8em;
          margin-left: -3em;
          width: 115%;
        }

        .exp-message {
          font-size: 16px;
          margin-top: 5px;
        }
      }
    }

    .survey-frame {

      iframe {
        border: 0;
        height: 570px;
        overflow: hidden;
        width: 550px;
      }

    }
